<!DOCTYPE html>
<html>
{% extends "main.html"%}
{% block content%}
    <h1>{{ myGame }} </h1>

    <img src="{{ myGame.portada.url}}" alt="Portada de {{ myGame.name }}" style="width: 200px; height: auto;">

    <p>{{myGame.descripcion}}</p>

    <p>Details</p>
    <ul>
        <li>{{ myGame.name}}</li>
        <li>{{ myGame.producer }}</li>
        <li>{{ myGame.publisher }}</li>
        <li>{{ myGame.release_Date }}</li>
        <li>{{ myGame.plataforms }}</li>
    </ul>
    <p>Reseñas</p>
    <ul>
        {% for x in reseñas %}
        <li>{{ x.title }}</li>
        <p>{{x.writer}} tag {{x.tag}}</p>
        <p>{{ x.content }}</p>
        {% endfor %}
    </ul>    
    {% if request.user.is_authenticated %}
    {% include "forms/crear_reseña.html" %}
    {% endif %}
    <p>Back to <a href="/users">Users</a></p>
    <p>Back to <a href="/games">Games</a></p> 
    
{% endblock %}
</html>