<!DOCTYPE html>
<html>
{% extends 'main.html' %}
{% block content %}
<h2>JUEGOS</h2>
<h3>Populares</h3>
<div class="row justify-content-center">
    {% for juego in top_videojuegos %}
    <div class="col-md-3 mb-4">
        <div class="card">
            <a href="{% url 'game' id=juego.id %}">
                <img src="{{ juego.portada.url }}" class="card-img-top" alt="Portada de {{ juego.name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ juego.name }}</h5>
                <p class="card-text" style="font-size: 14px;">Jugadores: {{ juego.cant_jugadores }}</p>
                <p class="card-text" style="font-size: 14px;">Puntuacion: {{ juego.puntuacion_promedio }}</p>
                <p class="card-text" style="font-size: 14px;">Apariciones en listas: {{ juego.cant_apariciones_lista }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<h3>Al azar</h3>
<div class="row">
    {% for juego in page_obj %}
    <div class="col-md-2 mb-4">
        <div class="card">
            <a href="{% url 'game' id=juego.id %}">
                <img src="{{ juego.portada.url }}" class="card-img-top" alt="Portada de {{ juego.name }}">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ juego.name }}</h5>
                <p class="card-text" style="font-size: 14px;">{{ juego.producer }}</p>
                <p class="card-text" style="font-size: 14px;">{{ juego.publisher }}</p>
                <p class="card-text" style="font-size: 14px;">{{ juego.release_Date }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>




<div class="row justify-content-center">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
</html>
