<!DOCTYPE html>
<html>
{% extends "main.html" %}
{% block profile %}
{% include "navs/profile_nav.html" %}
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h5>Juegos Favoritos</h5>
  <div class="row">
    {% for juego in juegosFavoritos %}
      <div class="col-md-4 mb-3">
        <div class="card">
          <img src="{{ juego.game.portada.url }}" class="card-img-top img-thumbnail" alt="Portada de {{ juego.game.name }}">
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row">
    <h5>Reseñas</h5>
    <ul class="list-group">
      {% for reseña in reseñas %}
        <li class="list-group-item">
          <h6>{{ reseña.game }} : {{ reseña.title }}</h6>
          <p>Puntuación: {{ reseña.puntuacion }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
</html>
