<!DOCTYPE html>
{% extends 'accounts/profile.html' %}
{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Juegos</th>
        <th scope="col">Listas</th>
        {% if request.user.is_authenticated %}
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for contenido in follows %}
      <tr>
        <td>
          <a href="{% url 'profile' id=contenido.seguidor.id %}">{{ contenido.seguidor.nickname }}</a>
        </td>
        <td>{{ contenido.seguidor.cant_juegos_jugados }}</td>
        <td>{{ contenido.seguidor.cant_listas_de_juegos }}</td>
        <td>          
        <div class="text-center mb-3">
            {% if not contenido.follow %}
            <form method="post" action="{% url 'seguir_usuario' usuario_id=contenido.seguidor.id %}?next={{ request.path }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Seguir</button>
            </form>
            {% else %}
            <form method="post" action="{% url 'dejarSeguirUsuario' usuario_id=contenido.seguidor.id %}?next={{ request.path }}">
              {% csrf_token %}
              <button type="submit" class="btn btn-secondary">Dejar De Seguir</button>
            </form>
            {% endif %}
        </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</table>
{% endblock %}
</html>