<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container">
    <br>
    <ul class="nav justify-content-center">
      {% if session %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          <span class="fs-5">{{ userinfo }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'yourGames' id_usuario=user_session.id %}">
          <span class="fs-5">Juegos: {{ userinfo.cant_juegos_jugados }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'yourLists' id_usuario=user_session.id %}">
          <span class="fs-5">Listas: {{ userinfo.cant_listas_de_juegos }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'followers' id=user_session.id %}">
          <span class="fs-5">Seguidores: {{ userinfo.cant_seguidores }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'follow' id=user_session.id %}">
          <span class="fs-5">Seguidos: {{ userinfo.cant_seguidos }}</span>
        </a>
      </li>
      {% else %}
      {% if request.user.is_authenticated %}
      <div class="text-center mb-3">
        {% if not losigue %}
        <form method="post" action="{% url 'seguir_usuario' usuario_id=userinfo.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Seguir</button>
        </form>
        {% else %}
        <form method="post" action="{% url 'dejarSeguirUsuario' usuario_id=userinfo.id %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-secondary">Dejar De Seguir</button>
        </form>
        {% endif %}
      </div>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">
          <span class="fs-5">{{ userinfo }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'yourGames' id_usuario=userinfo.id %}">
          <span class="fs-5">Juegos: {{ userinfo.cant_juegos_jugados }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'yourLists' id_usuario=userinfo.id %}">
          <span class="fs-5">Listas: {{ userinfo.cant_listas_de_juegos }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'followers' id=userinfo.id %}">
          <span class="fs-5">Seguidores: {{ userinfo.cant_seguidores }}</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'follow' id=userinfo.id %}">
          <span class="fs-5">Seguidos: {{ userinfo.cant_seguidos }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
</div>
</body>
</html>