<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}

{% block profile %}
    {{ block.super }}
{% endblock %}

{% block content %}
<h2>Llena tu lista</h2>
    <form method="post" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p}}
        </div>
        {% if not update %}  
            <button type="submit" class="btn btn-primary">Crear</button>
        {% endif %}
        {% if update %}
            <p>Agregar juegos:</p>
            <ul class="list-inline">
                {% for contenido in contenidos %}
                    <li class="list-inline-item mb-4">
                        <img src="{{ contenido.videojuego.portada.url }}" alt="{{ contenido.videojuego.name }}" class="img-thumbnail">
                    </li>
                {% endfor %}
            </ul>
            <div class="mb-3">
                {{ estaEn_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Editar</button>
        {% endif %}
    </form>
    {% if update %}
        <form method="post" action="{% url 'borrarlista' lista_id=lista.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Borrar</button>
        </form>
    {% endif %}
{% endblock %}
</html>
