<!DOCTYPE html>
<html lang="en">
{% extends 'main.html' %}

{% block profile %}
    {{ block.super }}
{% endblock %}

{% block content %}
<h2>Llena tu lista</h2>
    <form method="post" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p}}
        </div>
        {% if not update %}  
            <button type="submit" class="btn btn-primary">Crear</button>
        {% endif %}
        {% if update %}
            <p>Agregar juegos:</p>
            <div class="mb-3">
                {{ estaEn_form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Editar</button>
    </form>  
        <ul class="list-inline">
            {% for contenido in contenidos %}
                <li class="list-inline-item mb-4">
                    <div class="text-center">
                        <img src="{{ contenido.videojuego.portada.url }}" alt="{{ contenido.videojuego.name }}" class="img-thumbnail">
                        <!-- Formulario para eliminar juegos -->
                        <form method="post" action="{% url 'deleteVideojuego' lista_id=lista.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="delete_videojuego_id" value="{{ contenido.videojuego.id }}">
                            <button type="submit" class="btn btn-danger mt-2">Eliminar</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
            <form method="post" action="{% url 'borrarlista' lista_id=lista.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Borrar</button>
            </form>
        {% endif %}
{% endblock %}
</html>




